body{
  background-color: #24353f;
  
}
/* nav{background-color:transparent !important;} */

.crtona{
  box-shadow: 7px 7px 20px  rgb(18,17,17);
  }

  h1{color: #17a2b8;}

  input{
    background-color: transparent !important;
    color: aliceblue !important;
  }
input::placeholder{
  color: aliceblue !important;

}

  button{
    color: #17a2b8 !important;
    background-color: transparent !important;
    border-color: #17a2b8 !important;

  }
button:hover{
  color: aliceblue !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

a:hover{ 
  text-decoration-line: underline !important;

}